@import './variables';

@mixin IconSize($size: 20px) {
  height: $size;
  width: $size;
  line-height: $size;
  font-size: $size;
}

@mixin Price () {
  font-size: 12px;
  font-weight: 600;
  color: $colorBrown;
}
