@import '../Common/common';

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $colorGray;
  > div {
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
      > input {
        width: 50px;
      }
    }
  }
}