@import '../Common/common';

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $colorGray;
  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > h3, p {
      margin: 0px;
    }
    > span {
      @include Price();
    }
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
      > input {
        width: 50px;
      }
    }
  }
}