section.user-form {
  background-color: #FFFFFF;
  margin-top: 5%;
  padding: 30px;
  border-radius: 20px;
  > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      > label {
        font-weight: 900;
      }
      > input {
        min-width: 400px;
      }
    }
    > button {
      align-self: flex-start;
      padding: 5px 10px ;
    }
  }
}
