@import './Common/common';

main.menu-main {
  height: 100%;
  width: 100vw;
  background-color: $colorBrownDark2;
  > section.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 8rem;
    background-color: $colorBrownDark2;
  }
}